<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto Serif"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>

    <header class="bg-success bg-gradient header dropdown-center text-center">
      <button
        class="btn btn-secondary border-success dropdown-toggle border-4"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <h1 style="font-family: Noto Serif;">Our Startup Community</h1>
      </button>
      <ul class="dropdown-menu text-center">
        <li><a class="dropdown-item" href="/"><h3>Home</h3></a></li>
        <li><a class="dropdown-item" href="/Spark"><h3>Spark Stl</h3></a></li>
        <li><a class="dropdown-item" href="/Affiliate"><h3
            >Affilates</h3></a></li>
        {{! <li><a class="dropdown-item" href="/Scroll"><h3>The Deal Scroll</h3></a></li> }}
      </ul>
      {{! <button
        class="btn btn-secondary border-success border-4 dropdown-toggle"
        onclick="window.location.href='/'"
      >
        <h1 style="font-family: Noto Serif;">Supporting Our Startup Community</h1>
      </button> }}

    </header>
    <main>
      {{{body}}}
    </main>
    <footer class="bg-success bg-gradient">
      <div class="d-block p-2 text-center text-white">
        <h5 style="font-family: Noto Serif;" class="fs-6">Developed by Put14in</h5>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>