<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>

  </div>
  <div class="carousel-inner coffeeimageT">
    <div class="carousel-item active c-item">

      <img
        src="/images/MyExactlyZero.png"
        class="d-block w-100 c-img p-3"
        alt="..."
      />
      <div
        class="carousel-caption d-md-block bg-secondary rounded border-4 border border-black bg-transparent text-center"
      >
        <h5 class="fw-bold fs-1 text-secondary">Exactly Zero</h5>
        <p class="text-secondary">Soap. Clean, Homemade and Handmade</p>
        <a href="https://exactlyzero.com/">
          <button class="btn btn-primary">Get Clean</button>
        </a>
      </div>
    </div>
    <div class="carousel-item c-item">

      <img
        src="/images/Copy of Copy of MK LOGO-small size (2) (2).png"
        class="d-block w-100 c-img p-3"
        alt="..."
      />
      <div
        class="carousel-caption d-md-block bg-secondary bg-warning rounded border-4 border border-black text-center"
      >
        <h5 class="fw-bold fs-1 text-secondary">Memory Keepers</h5>
        <p class="text-white">Memory Keepers provides expert training and tools
          to organizations and professionals who serve older adults. Add value
          and quality services to your clients through our Memory Keepers
          Program, which provides classes based on Cognitive Stimulation Therapy
          (CST) and other evidence-based models that improve mood, memory and
          thinking and quality of life.</p>
        <a href="https://memorykeepers.org/">
          <button class="btn btn-primary">Memory Keepers - Keeping Minds Healthy
            and Fit!</button>
        </a>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>