<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>

  </div>
  <div class="carousel-inner coffeeimageT">
    <div class="carousel-item active c-item">

      <img
        src="/images/Fraction1.jpg"
        class="d-block w-100 c-img p-3"
        alt="..."
      />
      <div
        class="carousel-caption d-md-block bg-gradient rounded border-4 border border-black bg-black text-center"
      >
        <h5 class="fw-bold fs-1">A.Fraction</h5>
        <p>Decimals in Sound</p>
        <a href="">
          <button id="musicAF" class="btn btn-primary">Be Eazy #37 Sample
          </button>
        </a>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<script src="/js/music.js"></script>