<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
  </div>
  <div class="carousel-inner coffeeimage">
    <div class="carousel-item active c-item">
      <img
        src="/images/Starbucks Logo2.jpg"
        class="d-block w-100 c-img p-3"
        alt="Starbucks"
      />
      <div
        class="carousel-caption d-md-block border-success bg-success bg-gradient rounded border-4 border text-center"
      >
        <h5 style="font-family: Noto Serif;" class="fw-bold fs-1">Starbucks
          Mobile Ordering</h5>
        <p style="font-family: Noto Serif;">Place your order to the nearest
          Starbucks!</p>
        <a
          href="https://www.starbucks.com/store-locator?map=38.63164,-90.19361,10z&place=6%20Cardinal%20Wy,%20St.%20Louis,%20MO,%20USA"
        >
          <button
            style="font-family: Noto Serif;"
            class="btn btn-primary"
          >Mobile Order</button>
        </a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="/images/NitroBike.png"
        class="d-block w-100 c-img p-3"
        alt="NitroBike"
      />
      <div
        class="carousel-caption d-md-block border-success bg-success bg-gradient rounded border-4 border text-center"
      >
        <h5 style="font-family: Noto Serif;" class="fw-bold fs-1">Nitro Cold
          Brew and Frappuccinos! Oh my!</h5>
        <p style="font-family: Noto Serif;">Bring these items to your next
          event. Coming Soon!</p>
        <a href="https://nitrobikereservations.netlify.app/">
          <button
            style="font-family: Noto Serif;"
            class="btn btn-primary"
          >NitroBike Reservations</button>
        </a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="/images/spark-st-louis-logo.png"
        class="d-block w-100 c-img p-3"
        alt="Spark"
      />
      <div
        class="carousel-caption d-md-block border-gray bg-danger bg-gradient rounded border-4 border text-center"
      >
        <h5 style="font-family: Noto Serif;" class="fw-bold fs-1">Spark St Louis</h5>
        <p style="font-family: Noto Serif;">Creative Cutting Edge in the Ball
          Park</p>
        <a href="/Spark">
          <button
            style="font-family: Noto Serif;"
            class="btn btn-primary"
          >StartUps</button>
        </a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="/images/AffliateLinks.png"
        class="d-block w-100 c-img p-3"
        alt="Affliate"
      />
      <div
        class="carousel-caption d-md-block border-info bg-secondary bg-gradient rounded border-4 border text-center"
      >
        <h5 style="font-family: Noto Serif;" class="fw-bold fs-1">Affliates</h5>
        <p style="font-family: Noto Serif;">StartUps From Around the Area</p>
        <a href="/Affiliate">
          <button
            style="font-family: Noto Serif;"
            class="btn btn-primary"
          >Startups</button>
        </a>
      </div>

    </div>
    <div class="carousel-item c-item">
      <img
        src="/images/ArtMusicDance.png"
        class="d-block w-100 c-img p-3"
        alt="Affliate"
      />
      <div
        class="carousel-caption d-md-block border-info bg-secondary bg-gradient rounded border-4 border text-center"
      >
        <h5 style="font-family: Noto Serif;" class="fw-bold fs-1">Artist
          Expression</h5>
        <p style="font-family: Noto Serif;">Local Beats, Art, Dance</p>
        <a href="/Beats">
          <button style="font-family: Noto Serif;" class="btn btn-primary">Local
            Talent</button>
        </a>
      </div>

    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>