<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner bg-black">
    <div class="carousel-item active c-item">
      <img
        src="/images/Starbucks Logo.jpg"
        class="d-block w-100 c-img"
        alt="Starbucks"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
        <a
          href="https://www.starbucks.com/store-locator?map=38.63164,-90.19361,10z&place=6%20Cardinal%20Wy,%20St.%20Louis,%20MO,%20USA"
        >
          <button>Mobile Order</button>
        </a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="/images/NitroBike.png"
        class="d-block w-100 c-img"
        alt="NitroBike"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
        <a href="https://nitrobikereservations.netlify.app/">
          <button>NitroBike Reservations</button>
        </a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="/images/spark-st-louis-logo.png"
        class="d-block w-100 c-img"
        alt="Spark"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
        <a href="/Spark">
          <button>Startups</button>
        </a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="/images/Washington University St Louis favicon.png"
        class="d-block w-100 c-img"
        alt="WashU"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>