<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner coffeeimageT">
    <div class="carousel-item active c-item">

      <img
        src="/images/TheAchivist.jpg"
        class="d-block w-100 c-img p-3"
        alt="..."
      />
      <div
        class="carousel-caption d-md-block bg-gradient bg-warning rounded border-4 border border-black text-center"
      >
        <h5 class="fw-bold fs-1">Library Search Engine Design</h5>
        <p>Get Better Answers by having the Database think for you</p>
        <a href="/searchengin">
          <button class="btn btn-primary">Search Engine</button>
        </a>
      </div>
    </div>
    <div class="carousel-item c-item">

      <img
        src="/images/KenBoyer.jpg"
        class="d-block w-100 c-img p-3"
        alt="..."
      />
      <div
        class="carousel-caption d-md-block border-danger bg-gradient bg-light rounded border-4 border text-center text-black"
      >
        <h5 class="fw-bold fs-1">Put14in</h5>
        <p>See How Far Influence Can Go</p>
        <a href="https://www.put14in.com"><button
            class="btn btn-primary"
          >Support</button></a>
      </div>
    </div>
    <div class="carousel-item c-item p-3">

      <img src="/images/Factory.jpg" class="d-block w-100 c-img" alt="..." />
      <div
        class="carousel-caption d-md-block border-warning bg-gradient rounded border-4 border bg-transparent text-center"
      >
        <h5 class="fw-bold fs-1">Unseen Kindness</h5>
        <p>Cooperation is Letting Teammates surprise you</p>
        <a href="/cooperation"><button
            class="btn btn-primary"
          >Support</button></a>
      </div>

    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>